@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fbfbfe;
  --foreground: #2b2c34;
  --accent: #5c40e6;
  --muted: #eff0f3;
  --border: #d1d1e9;
}

html[data-theme="dark"] {
  --background: #16161a;
  --foreground: #fffffe;
  --accent: #7352d4;
  --muted: #242629;
  --border: #72757e;
}

@theme inline {
  --font-app: var(--font-google-sans-code);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-8/10;
}

@utility app-layout {
  @apply mx-auto w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}

/* --- Common Project Styles --- */

/* Project Tags */
.project-tag {
  color: hsl(var(--tag-hue), 80%, 35%);
  border: 1px solid hsla(var(--tag-hue), 80%, 35%, 0.55);
  background: hsla(var(--tag-hue), 90%, 55%, 0.1);
}

html[data-theme="dark"] .project-tag {
  color: hsl(var(--tag-hue), 90%, 85%);
  border-color: hsla(var(--tag-hue), 70%, 60%, 0.55);
  background: hsla(var(--tag-hue), 90%, 60%, 0.12);
}

/* Icons */
.icon-container svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

html[data-theme="dark"] .icon-container svg path[fill="#014847"] {
  fill: #e2e8f0;
}

/* Dialog Animations */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

dialog[open] {
  animation: zoom-in 0.2s ease-out;
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
