---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import projectsData from "@/data/projects/ProjectData.json";
import { SITE } from "@/config";

type Project = (typeof projectsData)[0] & { featured?: number };

// Sort projects: featured projects (lower numbers) on top Refer Json Schema.
const sortedProjects = [...projectsData].sort((a: Project, b: Project) => {
  const aRank = a.featured ?? 9999;
  const bRank = b.featured ?? 9999;
  return aRank - bRank;
});
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="All the projects I've worked on.">
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
      {sortedProjects.map(project => <ProjectCard project={project} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
